#game-carousel-container {
    // width: 70%;
    height: auto;
    // margin-left: 15%;
    
    #game-carousel-boxes {
        display: flex;
        justify-content: center;
        width: 961px;
    }
    
    .game-carousel-box {
        width: 17px;
        height: 11px;
        border-radius: 30%;
        background-color: rgb(68, 68, 68);
        cursor: pointer;
        margin-right: 4px;
        margin-top: 5px;
        
        &:hover {
            background-color: rgb(128, 128, 128);
        }
    }
    
    .game-carousel-box-active{
        background-color: rgb(128, 128, 128);
        
        &:hover {
            background-color: rgb(128, 128, 128);
        }
    }
    
    
    #game-carousel {
        width: 100%;
        display: flex;
        justify-content: center;
        color: $text-color;
        background-color: rgba(97, 93, 93, 0.644);
        // box-shadow: 0px 0px rgba(31, 31, 31, 0.253);
        width: 961px;//961px;
        height: auto;
        box-shadow: 0 0 10px 5px #141414;

        a {
            display: flex;
            cursor: context-menu;
            text-decoration: none;
            color: $text-color;
        }


        > img {
            width: 460px;
            height: 215px;
            margin-right: 50px;
        }

        
        input {
            width: 35px;
            height: 50px;
            align-self: center;
            background: linear-gradient(to left, transparent 15%, #223671 60%);

            margin-right: 5px;
            margin-left: 5px;

            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 4px;
            padding-right: 4px;

            &:hover {
                background: linear-gradient(to left, transparent 15%, #585858 60%);
            }

            
        }

        #game-carousl-right-button {
            background: linear-gradient(to right, transparent 15%, #223671 60%);

            &:hover {
                background: linear-gradient(to right, transparent 15%, #585858 60%);
            }
        }

        #game-carousel-info {
            width: 345px;
            height: 353px;
            background: rgb(68, 68, 68);

            h3 {
                width: 340px;
                padding-top: 5px;
                padding-bottom: 30px;
                padding-left: 5px;
                font-size: 26px;
                color: #e6e6e6;
                position: absolute;
                background: transparent;
            }

            h4 {
                padding-top: 15px;
                padding-bottom: 30px;
                padding-left: 5px;
                font-size: 26px;
                color: #e6e6e6;
            }

            p {
                color: #9fcbe2;
                margin-left: 15px;
                margin-top: 27px;
            }

            #game-carousel-info-grid {
                margin-top: 65px;
                display: flex;
                flex-wrap: wrap;
                
                img {
                    margin-right: 10px;
                    margin-top: 10px;
                }
            }
        }
        
    }
}