
#game-show-left-wing{
    background: $game-show-color;
    width: 600px;

    input {
        position: relative;
        background: rgb(20, 79, 128);
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px;
        width: 19px;
        height: 14px;
        top: -16px;
        border-radius: 5px;

        &:hover {
            background: rgb(2, 96, 173);
        }
    }

    #image-carousel-right-button {
        left: 555px;
    }
    
    #game-show-undercarriage {
        display: flex;
        height: 90px;
        overflow: auto hidden;
        margin-top: 3px;
        align-items: center;
        background: transparent;

        
        img {
            margin-right: 6px;
            margin-bottom: 6px;
        }

        .selected{
            border: 4px rgb(194, 194, 194) solid;
        }

        &::-webkit-scrollbar{
            height: 17px;
        }

        &::-webkit-scrollbar-thumb {
            background: #202f3f;
            border-radius: 5px;
            width: 5px;
            height: 15px;

            &:hover {
                background: #3f5d7e;
            }
        }

        &::-webkit-scrollbar-track {
            background-color: #111920;
            border-radius: 20px;
            margin-right: 25px;
            margin-left: 25px;

        }
    }

    // .slide {
    //     flex-shrink: 0;
    //     height: 100%;
    // }
}