.navbar {
    background-color: $navbar-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    font-family: Arial, Helvetica, sans-serif;

    > div {
        display: flex;
        align-items: center;
    }

    #navbar-left-wing {
        margin-left: 10rem;
        font-size: 19px;
    }

    ul {
        display: flex;
        justify-content: space-between;

    }

    ul li, ul a {
        list-style: none;
        text-decoration: none;
        background-color: transparent;
        color: $text-color;
        padding-left: 10px;
        margin-right: 10px;
    }

    ul li:hover, ul a:hover {
        color: $text-color-hover;
        cursor: pointer;

        &.disabled {
            cursor: not-allowed;
        }
    }

    > div a {
        background-color: $navbar-color;
        height: 40%;
        
    }

    > div a img {
        background-color: $navbar-color;
        height: 100%;

    }

    .login-div {
        display: flex;
        align-items: flex-start;
        height: 80%;
        margin-right: 3rem;
    }

    .logOut-div {
        display: flex;
        flex-direction: column;

        button {
            border: none;
            background: transparent;
            text-decoration: underline;
            color: $text-color;
            
            &:hover {
                text-decoration: none;
                color: $text-color-hover;
            }
        }

        a {
            margin-top: 5px;
            text-decoration: none;
            color: $text-color;

            &:hover {
                color: $text-color-hover;
            }
        }
    }

    #login-link {
        background-color: $navbar-color;
        color: $text-color;
        text-decoration: none;
    }

    #login-link:hover {
        color: $text-color-hover;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 165px;
        height: auto;
    
        background: rgba(37, 37, 37, 0.99);
        border-radius: 1px;

        > :first-child {
            margin-top: 10px;
        }
    
        li, a {
            background: transparent;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-left: 0;
            font-size: 14px;

        }

        li {
            margin-left: 5px;
        }

        &.disabled {
            cursor: not-allowed;
        }
    
    }

}

