.store-bar {
    display: flex;
    background: linear-gradient( to right, #47bfff 5%, #10226f 60%);
    font-weight: bold;
    width: 950px;
    height: 30px;
    justify-content: space-between;
    align-items: center;


    ul {
        display: flex;
        z-index: 10;
        
        .store-bar-items {
            margin-right: 15px;
            padding-left: 4px;
            padding-top: 7px;
            padding-bottom: 7px;
            
            color: #d3d3d0;
            text-shadow: 1px 1px black;
            

            &:hover {
                background: linear-gradient( to left, transparent 15%, #4661da 60%);
                cursor: not-allowed;
            }
        }
    }
}

.store-bar-store {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 60px;
}

.store-bar-game-show-page {
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 50px;
}

.store-bar-cart {
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 50px;
}