

.alerts-container {
    position: absolute;
    right: 80px;
    up: 20px;

}


.alert {
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: .25rem;
    // width: 250px;
    text-align: center;
    box-sizing: border-box;
    padding: .75rem 1.25rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;

    button {
        margin-left: 15px;
        font-weight: bold;
        border: none;
        background-color: transparent;
        color: #d3d3d3;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 6px;
        padding-right: 6px;

        &:hover {
            color: white;
            border: lightgray 1px solid;
            border-radius: 15px;
        }
    }
}

.alert-warning {
    color: $text-color;
    background-color: $navbar-color;
    border-color: black;
}

// .alert-leave {
//     opacity: 1;
//     padding-bottom: 15px;
//     padding-top: 15px;
//     margin-bottom: 20px;
//     height: 30px;
// }

// .alert-leave.alert-leave-active {
// overflow: hidden;
// opacity: 0.01;
// padding-top: 0px;
// padding-bottom: 0px;
// margin-bottom: 0px;
// height: 0px;
// transition: opacity 300ms ease-in,
//             padding-top 500ms ease-in,
//             padding-bottom 500ms ease-in,
//             margin-bottom 500ms ease-in,
//             height 500ms ease-in;
// }
